[submodule "third_party/butano"]
	path = third_party/butano
	url = https://github.com/GValiente/butano.git
[submodule "third_party/gba-wav-to-s3m-converter"]
	path = third_party/gba-wav-to-s3m-converter
	url = https://github.com/Fralacticus/gba-wav-to-s3m-converter.git
